<header>
            <div class="header-inner ">
                <div class="container">
                    <div class="container-inner">
                        <div class="inner">
                            <div class="inner-inner">
                                <div class="col-menu-mobile">

                                    <div class="oc-menu mobile-menu hidden-lg " id="oc-menu-7876">
                                        <input type="hidden" id="menu-effect-7876" class="menu-effect" value="none">
                                        <div class="oc-menu-bar">
                                            <div class="left"><i class="icon-align-justify"></i> <span>Мобильное меню</span></div>
                                            <div class="right"><i class="ion-ios-arrow-down" aria-hidden="true"></i></div>
                                        </div>
                                        <ul class="ul-top-items">
                                            <li class="li-top-item">
                                                <a class="a-top-link a-item" href="index.php?route=common/home">
                                                    <span>Top Item</span>
                                                </a>
                                            </li>
                                            <li class="li-top-item">
                                                <a class="a-top-link a-item" href="index.php?route=information/information&amp;information_id=4">
                                                    <span>Top Item</span>
                                                </a>
                                            </li>
                                            <li class="li-top-item">
                                                <a class="a-top-link a-item" href="index.php?route=information/contact">
                                                    <span>Top Item</span>
                                                </a>
                                            </li>
                                            <li class="li-top-item">
                                                <a class="a-top-link a-item" href="index.php?route=product/special">
                                                    <span>Top Item</span>
                                                </a>
                                            </li>
                                            <li class="li-top-item">
                                                <a class="a-top-link a-item" href="index.php?route=blog/blog">
                                                    <span>Top Item</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                                <div class="logo-container">
                                    <div id="logo">
                                        <a href="http://aliado.kz/"><img src="assets/images/logo-dark.png" title="Aliado" alt="Aliado" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="box-cart">
                                    <div class="wishlist">
                                        <a href="http://aliado.kz/wishlist" id="wishlist-total" title="Закладки">
                                            <!-- <img id= "wish-img" src="assets/images/wish.png"> -->
                                            <span>Закладки <span class="count">0</span></span></a>
                                    </div>
                                    <div id="cart" class="btn-group btn-block">
                                        <button type="button" data-toggle="dropdown" data-loading-text="Загрузка..." class="btn dropdown-toggle"><span id="cart-total"><span class="txt_number">0</span><span class="txt_items">Корзина: </span><span class="total-price">0 тг.</span></span></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <p class="text-center cart-empty">Your shopping cart is empty!</p>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-hoz fix">
                               
                                <div class="oc-menu horizontal-menu oc-menu-bar visible-lg " id="oc-menu-7593">

                                    <input type="hidden" id="menu-effect-7593" class="menu-effect" value="none">
                                    <!-- <ul class="ul-top-items">
                                        <li class="li-top-item left" style="float: left">
                                            <a class="a-top-link" href="#">
                                                <span>Главная</span>
                                            </a>
                                        </li>
                                        <li class="li-top-item left" style="float: left">
                                            <a class="a-top-link" href="http://aliado.kz/index.php?route=information/information&amp;information_id=6">
                                                <span>Доставка</span>
                                            </a>
                                        </li>
                                        <li class="li-top-item left" style="float: left">
                                            <a class="a-top-link" href="http://aliado.kz/index.php?route=information/information&amp;information_id=4">
                                                <span>Контакты</span>
                                            </a>
                                        </li>
                                        <li class="li-top-item left" style="float: left">
                                            <a class="a-top-link" href="http://aliado.kz/index.php?route=information/information&amp;information_id=5">
                                                <span>Блог</span>
                                            </a>
                                        </li>
                                    </ul> -->

                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="top-menu ">
                <div class="container">
                    <div class="container-inner">
                        <div class="col-ver">
                            

                            <div class="oc-menu vertical-menu visible-lg " id="oc-menu-7680">
                                <input type="hidden" id="menu-effect-7680" class="menu-effect" value="none">
                                <div class="oc-menu-bar">
                                    <div class="left"><i class="lnr lnr-text-align-left"></i> <span>Все категории</span></div>
                                    <div class="right"><i class="ion-ios-arrow-down" aria-hidden="true"></i></div>
                                </div>
                                <ul class="ul-top-items">
                                </ul>
                            </div>
                        </div>
                        <div class="top-search">
                            <div id="search-by-category">
                                <div class="search-container">
                                    <div class="categories-container">
                                        <div class="hover-cate">
                                            <p><span class="cate-selected" data-value="0">Все категории</span><i class="fa fa-caret-down"></i></p>
                                            <ul class="cate-items">
                                                <li class="item-cate" data-value="0">Все категории</li>
                                                <li data-value="471" class="item-cate">Женщинам</li>
                                                <li data-value="476" class="item-cate f1">Спорт</li>
                                                <li data-value="477" class="item-cate f2">Обувь</li>
                                                <li data-value="472" class="item-cate">Мужчинам</li>
                                                <li data-value="479" class="item-cate f1">Обувь</li>
                                                <li data-value="480" class="item-cate f2">Ботинки</li>
                                                <li data-value="473" class="item-cate f1">Спорт</li>
                                                <li data-value="474" class="item-cate f2">Обувь</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <input type="text" name="search" id="text-search" value="" placeholder="Поиск по базе ..." class="">

                                </div>
                                <div id="sp-btn-search" class="">
                                    <button type="button" id="btn-search-category" class="btn btn-default btn-lg">
                                        <span>Поиск</span>
                                    </button>
                                </div>
                                <div class="search-ajax">
                                    <div class="ajax-loader-container" style="display: none;">
                                        <img src="http://aliado.kz/image/catalog/AjaxLoader.gif" class="ajax-load-img" width="30" height="30" alt="plazathemes.com">
                                    </div>
                                    <div class="ajax-result-container">
                                        <!-- Content of search results -->
                                    </div>
                                </div>
                                <input type="hidden" id="ajax-search-enable" value="1">
                            </div>

                         
                        </div>
                        <div class="header-phone">
                            <p>(747) 987 6540</p>
                        </div>

                    </div>
                    <div class="header-phone">
                        <p>(747) 987 6540</p>
                    </div>
                </div>
            </div>
        </header>