<div id="content">
    <div class="main-row ">
        <div class="container">
            <div class="row">
                <div class="main-col col-sm-12 col-md-12">
                    <div class="row sub-row">
                        <div class="sub-col col-sm-12 col-md-12">
                        	<app-policy-block></app-policy-block>
                            <div class="banner7">
                                <div class="oc-banner7-container">
                                    <div class="flexslider oc-nivoslider">
                                        <div class="oc-loading" style="display: none;"></div>
                                        <div id="oc-inivoslider1" class="nivoSlider">
                                            <a href="#" class="nivo-imageLink" style="display: block;">
                                                <img style="display: none;" src="http://aliado.kz/image/cache/catalog/aliado/slider1-makali1-1920x692%20копия-1110x401.jpg" alt="" title="#banner7-caption2">
                                            </a>
                                            <a href="#" class="nivo-imageLink" style="display: none;">
                                                <img style="display: none;" src="http://aliado.kz/image/cache/catalog/aliado/920x692-1110x401.jpg" alt="" title="#banner7-caption3">
                                            </a>
                                            <img class="nivo-main-image" src="http://aliado.kz/image/cache/catalog/aliado/slider1-makali1-1920x692%20копия-1110x401.jpg" style="display: inline;">
                                            <div class="nivo-caption">
                                                <div class="timeloading"></div>
                                                <div class=" banner7-content slider-2">
                                                    <div class="text-content">
                                                        <div>
                                                            <p class="title1">Косметика из США</p>
                                                        </div>
                                                        <div>
                                                            <p class="sub-title">Весенняя распродажа</p>
                                                        </div>

                                                        <div class="banner7-des">
                                                            <p><span style="caret-color: rgb(84, 84, 84); color: rgb(84, 84, 84); font-family: arial, sans-serif; font-size: small;">Натуральные&nbsp;</span><span style="font-weight: bold; color: rgb(106, 106, 106); font-family: arial, sans-serif;">кремы</span>
                                                                <span
                                                                    style="caret-color: rgb(84, 84, 84); color: rgb(84, 84, 84); font-family: arial, sans-serif; font-size: small;">, шампуни, косметика в лучших интернет-магазинах&nbsp;</span><span style="font-weight: bold; color: rgb(106, 106, 106); font-family: arial, sans-serif;">США</span><span style="caret-color: rgb(84, 84, 84); color: rgb(84, 84, 84); font-family: arial, sans-serif; font-size: small;">.&nbsp;</span><br></p>
                                                        </div>
                                                        <div class="banner7-readmore">
                                                            <a class="link-more" href="#">Подробнее</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="nivo-directionNav"><a class="nivo-prevNav"><i class="ion-ios-arrow-left"></i></a><a class="nivo-nextNav"><i class="ion-ios-arrow-right"></i></a></div>
                                        </div>
                                        <div class="nivo-controlNav"><a class="nivo-control active" rel="0">1</a><a class="nivo-control" rel="1">2</a>
                                        </div>

                                        <div id="banner7-caption2" class="banner7-caption nivo-html-caption nivo-caption move-slides-effect" data-class="slide-movetype2">
                                            <div class="timeloading" style="animation-duration: 5000ms;"></div>
                                            <div class=" banner7-content slider-2">

                                                <div class="text-content">
                                                    <div>
                                                        <p class="title1">Косметика из США</p>
                                                    </div>

                                                    <div>
                                                        <p class="sub-title">Весенняя распродажа</p>
                                                    </div>

                                                    <div class="banner7-des">
                                                        <p><span style="caret-color: rgb(84, 84, 84); color: rgb(84, 84, 84); font-family: arial, sans-serif; font-size: small;">Натуральные&nbsp;</span><span style="font-weight: bold; color: rgb(106, 106, 106); font-family: arial, sans-serif;">кремы</span>
                                                            <span
                                                                style="caret-color: rgb(84, 84, 84); color: rgb(84, 84, 84); font-family: arial, sans-serif; font-size: small;">, шампуни, косметика в лучших интернет-магазинах&nbsp;</span><span style="font-weight: bold; color: rgb(106, 106, 106); font-family: arial, sans-serif;">США</span><span style="caret-color: rgb(84, 84, 84); color: rgb(84, 84, 84); font-family: arial, sans-serif; font-size: small;">.&nbsp;</span><br></p>
                                                    </div>
                                                    <div class="banner7-readmore">
                                                        <a class="link-more" href="#">Подробнее</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div id="banner7-caption3" class="banner7-caption nivo-html-caption nivo-caption move-slides-effect" data-class="slide-movetype3">
                                            <div class="timeloading" style="animation-duration: 5000ms;"></div>
                                            <div class=" banner7-content slider-3">

                                                <div class="text-content">
                                                    <div>
                                                        <p class="title1">Обувь из США</p>
                                                    </div>

                                                    <div>
                                                        <p class="sub-title">Распродажа обуви </p>
                                                    </div>

                                                    <div class="banner7-des">
                                                        <p>
                                                            <font color="#efefef"><span style="caret-color: rgb(84, 84, 84); font-family: arial, sans-serif; font-size: small;">Каталог одежды,&nbsp;</span><span style="font-weight: bold; font-family: arial, sans-serif;">обуви</span>
                                                                <span
                                                                    style="caret-color: rgb(84, 84, 84); font-family: arial, sans-serif; font-size: small;">, бижутерии, аксессуаров, товаров для красоты, дома и кухни из США с доставкой.&nbsp;</span>
                                                            </font><br></p>
                                                    </div>
                                                    <div class="banner7-readmore">
                                                        <a class="link-more" href="#">Подробнее</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <script>
                                            $(window).load(function() {
                                                        $('#oc-inivoslider1').nivoSlider({
                                                                    effect: "random",
                                                                    slices: 15,
                                                                    boxCols: 8,
                                                                    boxRows: 4,
                                                                    manualAdvance: false,
                                                                    animSpeed: 500,
                                                                    pauseTime: 5000,
                                                                    truncated 947 bytes...

                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
