<nav id="top">
            <div class="container">
                <div class="container-inner">
                    <div class="box">
                        <div class="header-text">
                            <p style="margin-bottom: 0px; font-stretch: normal; font-size: 12px; line-height: normal;">
                                <font face="Verdana">Скидочный сервис по товарам из США с доставкой в Казахстан</font>
                            </p>
                        </div>

                        <div class="social-top">
                            <div class="follow"><label>Соц сети:</label>
                                <ul class="link-follow">
                                    <li><a class="facebook ion-social-facebook" title="Facebook" href="https://www.facebook.com/plazathemes1"><span>facebook</span></a></li>
                                    <li><a class="twitter ion-social-twitter" title="Twitter" href="https://twitter.com/plazathemes"><span>twitter</span></a></li>
                                    <li><a class="google ion-social-googleplus-outline" title="Google" href="#"><span>google </span></a></li>

                                    <li><a class="youtube ion-social-youtube" title="Youtube" href="https://www.youtube.com/user/plazathemes"><span>youtube </span></a></li>

                                </ul>
                            </div>

                        </div>
                        <div class="currency">
                            <form action="http://aliado.kz/index.php?route=common/currency/currency" method="post" enctype="multipart/form-data" id="form-currency">
                                <div class="btn-group">
                                    <span class="pull-left hidden-xs hidden-sm hidden-md text-ex">Валюта:</span>
                                    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
				                        <span> тг.</span> 				
                                        <span class="hidden-sm hidden-xs">KZT</span>
				                        <i class="ion-ios-arrow-down"></i>
	                                </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="currency-select btn btn-link btn-block" type="button" name="USD">$ US Dollar
					                        </button>
                                        </li>
                                        <li>
                                            <button class="item-selected currency-select btn btn-link btn-block" type="button" name="KZT">Тенге тг.
					                        </button>
                                        </li>
                                    </ul>
                                </div>
                                <input type="hidden" name="code" value="">
                                <input type="hidden" name="redirect" value="http://aliado.kz/">
                            </form>
                        </div>

                        <div class="setting">
                            <div class="btn-group">
                                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="icon-myaccount ion-android-person"></span><span class="hidden-sm hidden-xs">Личный кабинет</span><i class="ion-ios-arrow-down"></i></button>
                                <div class="dropdown-menu">
                                    <div id="top-links">
                                        <ul class="ul-account list-unstyled">
                                            <li>
                                                <a id="a-register-link" href="javascript:void(0);" onclick="ocajaxlogin.appendRegisterForm()">Регистрация</a>
                                            </li>
                                            <li>
                                                <a id="a-login-link" href="javascript:void(0);" onclick="ocajaxlogin.appendLoginForm()">Авторизация</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>