<div class="tt_product_module module-nav2 occountdown_module" id="product_module83">
    <div class="module-title">


        <h2><span class="word1">Предложения</span> <span class="word2"> недели</span> </h2>

    </div>


    <div class="box-style">
        <div class="col-product">
            <div class="owl-container">
                <div class="tt-product  owl-carousel owl-theme owl-loaded owl-drag">
                    <!-- Grid -->

                    <!-- Grid -->

                    <!-- Grid -->


                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-540px, 0px, 0px); transition: all 0.25s ease 0s; width: 1620px;">
                            <div class="owl-item before-active" style="width: 540px;">
                                <div class="row_items  odd">
                                    <!-- List -->
                                    <div class="product-layout list-style ">
                                        <div class="product-thumb transition">
                                            <div class="item">
                                                <div class="item-inner">
                                                    <div class="image images-container">
                                                        <a routerlink="/item1" href="/item1" class="product-image">
                                                            <img src="" alt="Nike Air Max 270 Flyknit" title="Nike Air Max 270 Flyknit" class="img-responsive">
                                                        </a>
                                                        <div class="box-label">

                                                        </div>

                                                    </div>
                                                    <!-- image -->
                                                    <div class="caption">
                                                        <div class="inner">
                                                            <p class="manufacture-product">
                                                                <a routerlink="/item1">Nike</a>
                                                            </p>
                                                            <h4 class="product-name"><a routerlink="/item1" href="/item1" >Nike Air Max 270 Flyknit</a></h4>
                                                            <div class="ratings">
                                                                <div class="rating-box">
                                                                    <div class="rating5">rating</div>
                                                                </div>
                                                            </div>




                                                            <div class="price-box">
                                                                <label>Цена:</label>
                                                                <p class="regular-price"><span class="price">55000 тг.</span></p>
                                                                <p class="price-tax"><span class="price"> 55000 тг.</span></p>
                                                            </div>
                                                            <div class="product-des">Мужские кроссовки Nike Air Max 270 Flyknit создают..</div>


                                                            <div class="text-hurryup">
                                                                <p></p>
                                                            </div>
                                                            <div id="Countdown194-1" class="box-timer"></div>
                                                        </div>
                                                    </div>
                                                    <!-- caption -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- product-thumb -->
                                    </div>
                                    <!-- product-layout -->
                                </div>
                            </div>
                            <div class="owl-item active first" style="width: 540px;">
                                <div class="row_items  even">
                                    <!-- List -->
                                    <div class="product-layout list-style ">
                                        <div class="product-thumb transition">
                                            <div class="item">
                                                <div class="item-inner">
                                                    <div class="image images-container">
                                                        <a routerlink="/item1" href="/item1" class="product-image">
                                                            <img src="/assets/images/nike.jpg" alt="Nike Air Max 95 SE" title="Nike Air Max 95 SE" class="img-responsive pictures">
                                                        </a>
                                                        <div class="box-label">

                                                        </div>

                                                    </div>
                                                    <!-- image -->
                                                    <div class="caption">
                                                        <div class="inner">
                                                            <p class="manufacture-product">
                                                                <a href="#">Nike</a>
                                                            </p>
                                                            <h4 class="product-name"><a routerlink="/item1" href="/item1">Nike Air Max 95 SE</a></h4>
                                                            <div class="ratings">
                                                                <div class="rating-box">
                                                                    <div class="rating0">rating</div>
                                                                </div>
                                                            </div>




                                                            <div class="price-box">
                                                                <label>Цена:</label>
                                                                <p class="regular-price"><span class="price">58000 тг.</span></p>
                                                                <p class="price-tax"><span class="price"> 58000 тг.</span></p>
                                                            </div>
                                                            <div class="product-des">Дизайн прочных и гибких кроссовок Nike Air Max 95 ..</div>


                                                            <div class="text-hurryup">
                                                                <p></p>
                                                            </div>
                                                            <div id="Countdown195-2" class="box-timer"></div>
                                                        </div>
                                                    </div>
                                                    <!-- caption -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- product-thumb -->
                                    </div>
                                    <!-- product-layout -->
                                </div>
                            </div>
                            <div class="owl-item active last" style="width: 540px;">
                                <div class="row_items  odd">
                                    <!-- List -->
                                    <div class="product-layout list-style ">
                                        <div class="product-thumb transition">
                                            <div class="item">
                                                <div class="item-inner">
                                                    <div class="image images-container">
                                                        <a href="" class="product-image">
                                                            <img src="/assets/images/boots.png" alt="TIMBERLAND HIKER MID водонепроницаемые ботинки" title="TIMBERLAND HIKER MID водонепроницаемые ботинки"
                                                                class="img-responsive pictures">
                                                        </a>
                                                        <div class="box-label">

                                                        </div>

                                                    </div>
                                                    <!-- image -->
                                                    <div class="caption">
                                                        <div class="inner">
                                                            <p class="manufacture-product">
                                                                <a href="">Timberland</a>
                                                            </p>
                                                            <h4 class="product-name"><a href="">TIMBERLAND HIKER MID водонепроницаемые ботинки</a></h4>
                                                            <div class="ratings">
                                                                <div class="rating-box">
                                                                    <div class="rating0">rating</div>
                                                                </div>
                                                            </div>




                                                            <div class="price-box">
                                                                <label>Цена:</label>
                                                                <p class="regular-price"><span class="price">63500 тг.</span></p>
                                                                <p class="price-tax"><span class="price"> 63500 тг.</span></p>
                                                            </div>
                                                            <div class="product-des">Наши водонепроницаемые путешественники из мира выг..</div>


                                                            <div class="text-hurryup">
                                                                <p></p>
                                                            </div>
                                                            <div id="Countdown196-3" class="box-timer"></div>
                                                        </div>
                                                    </div>
                                                    <!-- caption -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- product-thumb -->
                                    </div>
                                    <!-- product-layout -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav">
                        <div class="owl-prev">prev</div>
                        <div class="owl-next disabled">next</div>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<script>
    var product_owlCarousel = $("#product_module83 .tt-product");
    product_owlCarousel.owlCarousel({
                loop: false,
                margin: 0,
                nav: true,
                dots: false,
                autoplay: false,
                autoplayTimeout: 1000,
                autoplayHoverPause: true,
                autoplaySpeed: 1000,
                truncated 1532 bytes...
</script>
<script>
    $(".swiper-container-pimg-194").swiper({
                spaceBetween: 0,
                nextButton: '.pimg-button-next-194',
                prevButton: '.pimg-button-prev-194',
                speed: 300,
                slidesPerView: 3,
                slidesPerColumn: 1,
                autoplay: false,
                simulateTouch: false,
                loop: false,
                breakpoints: {
                    479: {
                        slidesPerView: 3
                    },
                    767: {
                        slidesPerView: truncated 2337 bytes...
</script>
