<div class="policy-block">
  <div class="inner">
    <div class="col ">
      <div class="box">
        <div class="text">
          <h4>Бесплатная переупаковка</h4>
          <p>Переупаковка ваших посылок</p>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="box">
        <div class="text">
          <h4>Поддержка 24/7</h4>
          <p>Мы всегда на связи</p>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="box">
        <div class="text">
          <h4>100% Возврат денег</h4>
          <p>Возврат в течение 30 дней</p>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="box">

        <div class="text">
          <h4>Безопасная оплата</h4>
          <p>Secure транзакции</p>
        </div>
      </div>
    </div>
  </div>
</div>
