<div class="banner-static static-top-sharma4">
    <div class="inner">
      <div class="col">
        <div class="image">
        <a href="#"><img src="/assets/images/winter.jpg" alt="img1"></a>
          <div class="text">
          <h3>Зимняя <span>коллекция</span></h3>
          <p><br><br></p>
          </div>
        </div>
      </div>
      <div class="col">
      <div class="image">
        <a href="#"><img src="/assets/images/krosy.jpg" alt="img1"></a>
        <div class="text">
          <h3>Спортивная <span>обувь</span></h3>
          <p><br><br></p>
        </div>
      </div>
      </div><div class="col">
        <div class="image">
            <a href="#"><img src="/assets/images/posuda.jpg" alt="img1"></a>
            <div class="text">
                <h3>Всё <span>Для дома</span></h3>
                <p><br><br> </p>
            </div>
        </div>
      </div>
    </div>
</div>
