
<div class="breadcrumbs">
    <div class="container">
        <div class="inner">
            <ul class="breadcrumb">
                <li><a href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/"><i class="fa fa-home"></i></a></li>
                <li><a style="color:red" routerLink = "">Nike Air Max 95 SE</a></li>
            </ul>
        </div>
    </div>
</div>



<div id="product-product" class="container">

    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="column-main">
                <div class="row">
                    <div class="product-image-main col-sm-6">

                        <input type="hidden" id="check-use-zoom" value="1">
                        <input type="hidden" id="light-box-position" value="1">
                        <input type="hidden" id="product-identify" value="195">
                        <div class="lightbox-container"></div>
                        <div class="product-zoom-image">
                            <div id="wrap" style="top:0px;z-index:9999;position:relative;">
                                <a href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-700x700.jpg" class="cloud-zoom main-image" id="product-cloud-zoom" style="width: 600px; height: 600px; position: relative; display: block;"
                                    rel="                                             showTitle: false ,
                                    zoomWidth:600,zoomHeight:600,
                                     position:'inside', adjustX: 0 ">
                                    <img src="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-600x600.jpg" title="Nike Air Max 95 SE" alt="Nike Air Max 95 SE" style="display: block;">
                                </a>
                                <div class="mousetrap" style="background-image:url(&quot;.&quot;);z-index:999;position:absolute;width:510px;height:510px;left:0px;top:0px;"></div>
                                <div class="mousetrap" style="background-image:url(&quot;.&quot;);z-index:999;position:absolute;width:510px;height:510px;left:0px;top:0px;"></div>
                                <div class="mousetrap" style="background-image:url(&quot;.&quot;);z-index:999;position:absolute;width:510px;height:510px;left:0px;top:0px;"></div>
                                <div class="mousetrap" style="background-image: url(&quot;.&quot;); z-index: 999; position: absolute; width: 510px; height: 510px; left: 0px; top: 0px; cursor: move;"></div>
                                <div class="mousetrap" style="background-image:url(&quot;.&quot;);z-index:999;position:absolute;width:510px;height:510px;left:0px;top:0px;"></div>
                                <div class="mousetrap" style="background-image: url(&quot;.&quot;); z-index: 999; position: absolute; width: 510px; height: 510px; left: 0px; top: 0px; cursor: move;"></div>
                            </div>
                        </div>
                        <div class="additional-images owl-carousel owl-theme owl-loaded owl-drag">
                            <!--  -->
                            <!-- <div class="item"> -->
                            <!-- <a class="cloud-zoom-gallery sub-image" id="product-image-default" href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-700x700.jpg" title="Nike Air Max 95 SE" -->
                            <!-- rel="useZoom: 'product-cloud-zoom', smallImage: 'http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-600x600.jpg'" data-pos="1"> -->
                            <!-- <img src="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-600x600.jpg" title="Nike Air Max 95 SE" alt="Nike Air Max 95 SE" /> -->
                            <!-- </a> -->
                            <!-- </div> -->
                            <!--  -->





                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 588px;">
                                    <!--
                                    <div class="owl-item active" style="width: 20px height: 20px margin-right: 10px;">
                                        <div class="item">
                                            <a class="cloud-zoom-gallery sub-image" id="product-image-options-" href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-6-700x700.jpg" title="Nike Air Max 95 SE" rel="useZoom: 'product-cloud-zoom', smallImage: 'http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-6-600x600.jpg'"
                                                data-pos="2">
                                                <img src="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-6-600x600.jpg" title="Nike Air Max 95 SE" alt="Nike Air Max 95 SE">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 20px height: 20px margin-right: 10px;">
                                        <div class="item">
                                            <a class="cloud-zoom-gallery sub-image" id="product-image-options-" href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-4-700x700.jpg" title="Nike Air Max 95 SE" rel="useZoom: 'product-cloud-zoom', smallImage: 'http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-4-600x600.jpg'"
                                                data-pos="3">
                                                <img src="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-4-600x600.jpg" title="Nike Air Max 95 SE" alt="Nike Air Max 95 SE">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 20px height: 20px margin-right: 10px;">
                                        <div class="item">
                                            <a class="cloud-zoom-gallery sub-image" id="product-image-options-" href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-3-700x700.jpg" title="Nike Air Max 95 SE" rel="useZoom: 'product-cloud-zoom', smallImage: 'http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-3-600x600.jpg'"
                                                data-pos="4">
                                                <img src="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-3-600x600.jpg" title="Nike Air Max 95 SE" alt="Nike Air Max 95 SE">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 20px height: 20px margin-right: 10px;">
                                        <div class="item">
                                            <a class="cloud-zoom-gallery sub-image" id="product-image-options-" href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-2-700x700.jpg" title="Nike Air Max 95 SE" rel="useZoom: 'product-cloud-zoom', smallImage: 'http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-2-600x600.jpg'"
                                                data-pos="5">
                                                <img src="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-2-600x600.jpg" title="Nike Air Max 95 SE" alt="Nike Air Max 95 SE">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 20px height: 20px margin-right: 10px;">
                                        <div class="item">
                                            <a class="cloud-zoom-gallery sub-image" id="product-image-options-" href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-5-700x700.jpg" title="Nike Air Max 95 SE" rel="useZoom: 'product-cloud-zoom', smallImage: 'http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-5-600x600.jpg'"
                                                data-pos="6">
                                                <img src="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-5-600x600.jpg" title="Nike Air Max 95 SE" alt="Nike Air Max 95 SE">
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <!--
                            <div class="owl-nav">
                                <div class="owl-prev disabled">prev</div>
                                <div class="owl-next">next</div>
                            </div>
                        -->
                            <div class="owl-dots disabled"></div>
                        </div>


                    </div>
                    <div class="col-sm-6 product-info-main">





                        <span xmlns:v="http://rdf.data-vocabulary.org/#">
                            <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/zhenshinam/" alt="Женщинам"></a></span>

                        </span>



                        <span itemscope="" itemtype="http://schema.org/Product">
                        <meta itemprop="url" content="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/nike-air-max-95-se.html">
        <meta itemprop="name" content="Nike Air Max 95 SE">
        <meta itemprop="model" content="Женские спортивные кроссовки">
        <meta itemprop="manufacturer" content="Nike">
        
         
        <meta itemprop="image" content="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-600x600.jpg">
         
        
                        <meta itemprop="image" content="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-6-600x600.jpg">
                        <meta itemprop="image" content="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-4-600x600.jpg">
                        <meta itemprop="image" content="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-3-600x600.jpg">
                        <meta itemprop="image" content="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-2-600x600.jpg">
                        <meta itemprop="image" content="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-5-600x600.jpg">
          
        
         
        <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
        <meta itemprop="price" content="58000.">
        <meta itemprop="priceCurrency" content="KZT">
        <link itemprop="availability" href="http://schema.org/InStock">
        </span>




                        </span>


                        <h1 class="product-name"style="color:red" >Nike Air Max 95 SE</h1>


                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating0" style="color:red">Rating</div>
                            </div>
                            <a class="review-count" style="color:red" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); $('body,html').animate({scrollTop: $('ul.nav-tabs').offset().top}, 800); return false;">(0 отзывов)</a>
                            <div>
                                <a style="color:red" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); $('body,html').animate({scrollTop: $('ul.nav-tabs').offset().top}, 800); return false;">Написать отзыв</a>
                            </div>
                            </div>
                        <div class="price-box box-regular">
                            <span class="regular-price">
                        <span class="price">58000 тг.</span>
                            </span>
                        </div>
                        <ul class="list-unstyled">

                            <li>Налог: <span class="ex-text">58000 тг.</span></li>

                            <li>Производители <a href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/nike-ru-ru/">Nike</a></li>
                            <li>Модель: <span>Женские спортивные кроссовки</span></li>
                            <li>Бонусные баллы: <span>850</span></li>
                            <li>Наличие: <span>Есть в наличии</span></li>

                        </ul>
                        <p class="short-des">Дизайн прочных и гибких кроссовок Nike Air Max 95 SE вдохновлен человеческим телом. Подошва выполняет функции позвоночника, волнистые накладки — функц..</p>







                        <div id="product">
                            <h3>Доступные варианты</h3>
                            <div class="form-group">
                                <label class="control-label">Примечания к доставке</label>
                                <div id="input-option305">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="option[305][]" value="151">
                                                Оставить коробку, дороже доставка из-за объемного веса
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required ">
                                <label class="control-label" for="input-option303">Размер:</label>
                                <select name="option[303]" id="input-option303" class="form-control">
                                            <option value=""> --- Выберите --- </option>
                                                    <option value="143">38
                                                    </option>
                                                    <option value="144">38.5
                                                    </option>
                                                    <option value="145">39
                                                    </option>
                                                    <option value="146">39.5
                                                    </option>
                                                    <option value="147">40
                                                    </option>
                                                    <option value="152">41
                                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-quantity">Количество</label>
                                <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control">
                                <input type="hidden" name="product_id" value="195">

                                <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn button button-cart" title="Купить" style="color: white">Купить</button>

                                <button type="button" class="btn btn-default button btn-wishlist" title="В закладки" onclick="wishlist.add('195');">В закладки</button>
                                <button type="button" class="btn btn-default button btn-compare" title="В сравнение" onclick="compare.add('195');">В сравнение</button>
                            </div>
                        </div>
                        <div class="policy-block policy-block-2">
                            <div class="inner">
                                <div class="col ">
                                    <div class="box">

                                        <div class="text">
                                            <p>Бесплатная переупаковка</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col ">
                                    <div class="box">

                                        <div class="text">
                                            <p>Возможность возврата</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col ">
                                    <div class="box">

                                        <div class="text">
                                            <p>Низкая цена</p>
                                            <p>Гарантия качества</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>




                    </div>
                </div>
            </div>
            <div class="product-info-detailed">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-description" data-toggle="tab">Описание</a></li>
                    <li><a href="#tab-review" data-toggle="tab">Отзывов (0)</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-description">
                        <h2>Nike Air Max 95 SE</h2>
                        <p><span style="font-size: 16px; color: rgb(17, 17, 17); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-variant-ligatures: normal; orphans: 2; widows: 2;">Дизайн прочных и гибких кроссовок Nike Air Max 95 SE вдохновлен человеческим телом.</span></p>
                        <p><span style="font-size: 16px; color: rgb(17, 17, 17); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-variant-ligatures: normal; orphans: 2; widows: 2;"> Подошва выполняет функции позвоночника, волнистые накладки — функции мышц, петли для шнурков — функции ребер, а верх из сетки — функции кожи.</span><br></p>
                    </div>
                    <div class="tab-pane" id="tab-review">
                        <form class="form-horizontal" id="form-review">

                            <div id="review">
                                <p>Нет отзывов о данном товаре.</p>
                            </div>

                            <h2>Написать отзыв</h2>
                            <div class="form-group required">
                                <div class="col-sm-12">
                                    <label class="control-label" for="input-name">Name</label>
                                    <input type="text" name="name" value="" id="input-name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="col-sm-12">
                                    <label class="control-label" for="input-review">Ваш отзыв:</label>
                                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                    <div class="help-block"><span style="color: #FF0000;">Примечание:</span> HTML разметка не поддерживается! Используйте обычный текст.</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="col-sm-12">
                                    <label class="control-label">Оценка:</label> &nbsp;&nbsp;&nbsp; Плохо&nbsp;
                                    <input type="radio" name="rating" value="1"> &nbsp;
                                    <input type="radio" name="rating" value="2"> &nbsp;
                                    <input type="radio" name="rating" value="3"> &nbsp;
                                    <input type="radio" name="rating" value="4"> &nbsp;
                                    <input type="radio" name="rating" value="5"> &nbsp;Хорошо
                                </div>
                            </div>

                            <div class="buttons clearfix">
                                <div class="pull-right">
                                    <button type="button" id="button-review" data-loading-text="Загрузка..." class="btn btn-primary">Отправить отзыв</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            


        </div>
    </div>
</div>