<app-navmenu></app-navmenu>
<app-page-header></app-page-header>
<div class = "content">
    <div class = "main-row">
        <div class = "container">
            <div class = "row">
                <div class = "main-col col-sm-12 col-md-12">
                    <div class = "sub-row">
                        <div class = "sub-col col-sm-12 col-md-12">
                            <app-banner></app-banner>
                            <app-policy-block></app-policy-block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-page-footer></app-page-footer>
