<div class="fcategory-content">
    <div class="image">
        <a href="http://aliado.kz/index.php?route=product/category&amp;path=124"><img src="http://aliado.kz/image/cache/catalog/category%20thumb/f-cate6-350x270.jpg" alt=""></a>
    </div>
    <div class="content-thumb">
        <h3 class="name"><a href="http://aliado.kz/index.php?route=product/category&amp;path=124"><span class="word1">Body</span> <span class="word2">Parts</span> </a></h3>
        <p class="total-items">16 products</p>
        <ul class="sub-featured-categories">
            <li><a href="http://aliado.kz/index.php?route=product/category&amp;path=305">Handbag</a></li>
            <li><a href="http://aliado.kz/index.php?route=product/category&amp;path=125">Accessories</a></li>
            <li><a href="http://aliado.kz/index.php?route=product/category&amp;path=133">Clothing</a></li>
            <li><a href="http://aliado.kz/index.php?route=product/category&amp;path=137">Shoes</a></li>
        </ul>
        <a href="http://aliado.kz/index.php?route=product/category&amp;path=124" class="view-more">shop now</a>
    </div>
</div>
