<div class = "content">
    <div class="main-row ">
	    <div class="container">
	        <div class="row">
	            <div class="main-col col-sm-12 col-md-12">
	                <div class="row sub-row">
	                    <div class="sub-col col-sm-12 col-md-12">
	                        <div class="opc-hidden">
	                            <input type="hidden" id="input-opc-status" value="1">
	                        </div>
	                        <app-policy-block></app-policy-block>
	                        <app-banner></app-banner>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>    
	<div class="main-row ">
	    <div class="container">
	        <div class="row">
	            <div class="main-col col-sm-12 col-md-12">
	                <div class="row sub-row">
	                    <div class="sub-col col-sm-12 col-md-12">
	                        <app-hot></app-hot>
	                        <app-collections></app-collections>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
