<app-policy-block></app-policy-block>
<app-banner></app-banner>
<hr>
<div class = "content">
    <div class = "main-row">
        <div class = "container">
            <div class = "row">
                <div class = "main-col col-sm-12 col-md-12">
                    <div class = "row sub-row">
                        <div id = "inside" class = "sub-col col-sm-12 col-md-12">
                            <app-hot></app-hot>
                            <div class="row">
                              <app-collections></app-collections>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
