<div class="related-products  module-nav2">
                <div class="module-title">
                    <h2><span class="word1">Рекомендуемые</span> <span class="word2">товары</span> </h2>

                </div>
                <div class="box-style">
                    <div class="owl-container">
                        <div class="related-container tt-product owl-carousel owl-theme owl-loaded owl-drag">

                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 270px;">
                                    <div class="owl-item active first last" style="width: 270px;">
                                        <div class="row_items">
                                            <div class="product-layout grid-style">
                                                <div class="product-thumb transition">
                                                    <div class="item">
                                                        <div class="item-inner">

                                                            <div class="image images-container">
                                                                <div class="inner">
                                                                    <a href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/nike-air-max-95-se.html" class="product-image">
                                                                        <img src="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/image/cache/catalog/nike/95%20/air-max-97-se-womens-shoe-pJ5cR2-600x600.jpg" alt="Nike Air Max 95 SE" title="Nike Air Max 95 SE" class="img-responsive">
                                                                    </a>
                                                                    <div class="box-label">

                                                                        <div class="label-product label_new"><span></span></div>
                                                                    </div>
                                                                    <div class="action-links">

                                                                        <button class="button btn-compare" type="button" title="В сравнение" onclick="compare.add('195');"><span>В сравнение</span></button>
                                                                        <button class="button btn-wishlist" type="button" title="В закладки" onclick="wishlist.add('195');"><span>В закладки</span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- image -->
                                                            <div class="caption">
                                                                <div class="inner">
                                                                    <p class="manufacture-product">
                                                                        <a href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/nike-ru-ru/">Nike</a>
                                                                    </p>

                                                                    <h4 class="product-name"><a href="http://195.210.46.39/plesk-site-preview/aliado.kz/195.210.46.39/nike-air-max-95-se.html">Nike Air Max 95 SE</a></h4>

                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating0">rating</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="price-box">
                                                                        <label></label>
                                                                        <p class="regular-price"><span class="price">58000 тг.</span></p>
                                                                        <p class="price-tax"><span class="price">Налог: 58000 тг.</span></p>
                                                                    </div>

                                                                    <button class="button btn-cart" type="button" title="Купить" onclick="cart.add('195');"><span>Купить</span></button>
                                                                </div>
                                                            </div>
                                                            <!-- caption -->


                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-thumb -->
                                            </div>
                                            <!-- product-layout -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-nav disabled">
                                <div class="owl-prev disabled">prev</div>
                                <div class="owl-next disabled">next</div>
                            </div>
                            <div class="owl-dots disabled"></div>
                        </div>
                    </div>
                </div>
            </div>