<div class="page-foot">
    <div class="footer-top ">
    	  <div class="container">
    		    <div class="container-inner">
    		        <div class="row">
                    <div class="col1  col-md-4 col-sm-6 col-xs-12 col-footer">
                      <div class="footer-contact">
                        <div class="footer-content">
                            <a class="logo-footer" href="#"><img src="assets/images/logo-dark.png" alt="logo-footer"></a>
                            <ul class="list-unstyled text-content">
                                <li class="address"><p><span>Адрес</span><br>4710-4890 Breckinridge St,Fayetteville</p></li>
                                <li class="phone"><p><span>Нужна помощь</span><br>7-708-866-3947</p></li>
                                <li><p><span>Отдел продаж</span><br>1-877-345-6789</p></li>
                            </ul>
                            <a class="link-contact" href="index.php?route=information/contact" target="_blank">Контакты</a>
                        </div>
                      </div>
                    </div>
              			<div class="col2 col-md-4 col-sm-6 col-xs-12 col-footer">
              				<div class="footer-title"><h5>Информация</h5></div>
              				<div class="footer-content">
                					<ul class="list-unstyled text-content">
      											  <li><a href="http://aliado.kz/index.php?route=information/information&amp;information_id=4">О нас</a></li>
      					  					  <li><a href="http://aliado.kz/index.php?route=information/information&amp;information_id=6">Доставка</a></li>
      					  					  <li><a href="http://aliado.kz/index.php?route=information/information&amp;information_id=3">Оферта</a></li>
      					  					  <li><a href="http://aliado.kz/index.php?route=information/information&amp;information_id=5">Блог</a></li>
      					  					  <li><a href="http://aliado.kz/index.php?route=information/contact">Обратная связь</a></li>
                  					  <li><a href="http://aliado.kz/index.php?route=account/return/add">Возврат товара</a></li>
                  					  <li><a href="http://aliado.kz/index.php?route=information/sitemap">Карта сайта</a></li>
                					</ul>
                					<ul class="list-unstyled text-content">
                    						<li><a href="http://aliado.kz/index.php?route=product/manufacturer">Производители</a></li>
                    						<li><a href="http://aliado.kz/index.php?route=account/voucher">Подарочные сертификаты</a></li>
                    						<li><a href="http://aliado.kz/index.php?route=affiliate/login">Партнерская программа</a></li>
                    						<li><a href="http://aliado.kz/index.php?route=product/special">Акции</a></li>
                    						<li><a href="http://aliado.kz/index.php?route=account/return/add">Возврат товара</a></li>
                					</ul>
              				</div>
              			</div>
              			<div class="col3 col-md-4 col-sm-6 col-xs-12 col-footer">
              				<div class="footer-title"><h5>Личный Кабинет</h5></div>
              				<div class="footer-content">
                					<ul class="list-unstyled text-content">
                						<li><a href="http://aliado.kz/index.php?route=account/account">Личный Кабинет</a></li>
                						<li><a href="http://aliado.kz/index.php?route=account/order">История заказов</a></li>
                						<li><a href="http://aliado.kz/index.php?route=account/wishlist">Закладки</a></li>
                						<li><a href="http://aliado.kz/index.php?route=account/newsletter">Рассылка</a></li>
                						<li><a href="http://aliado.kz/index.php?route=product/manufacturer">Производители</a></li>
                						<li><a href="http://aliado.kz/index.php?route=account/voucher">Подарочные сертификаты</a></li>
                						<li><a href="http://aliado.kz/index.php?route=affiliate/login">Партнерская программа</a></li>
                					</ul>
                					<ul class="list-unstyled text-content">
                						<li><a href="http://aliado.kz/index.php?route=product/special">Акции</a></li>
                						<li><a href="http://aliado.kz/index.php?route=account/return/add">Возврат товара</a></li>
                						<li><a href="http://aliado.kz/index.php?route=information/contact">Обратная связь</a></li>
                						<li><a href="http://aliado.kz/index.php?route=account/return/add">Возврат товара</a></li>
                						<li><a href="http://aliado.kz/index.php?route=information/sitemap">Карта сайта</a></li>
                					</ul>
              				</div>
              			</div>
    		      </div>
    		</div>
      </div>
    </div>
    <div class="footer-bottom ">
    		<div class="container">
    			<div class="container-inner">
    				<div class="footer-copyright">
    					<p>Разработка студии <a href="http://aliado.kz">ALIADO</a><br> Aliado © 2019</p>
            </div>
    		  </div>
    		</div>
    </div>
    <div id="back-top" style="display: block;"><i class="ion-ios-arrow-up"></i></div>
</div>
