<div class="page-foot">
    <div class="footer-top ">
    	  <div class="container">
    		    <div class="container-inner">
    		        <div class="row">
                    <div class="col1  col-md-4 col-sm-6 col-xs-12 col-footer">
                      <div class="footer-contact">
                        <div class="footer-content">
                            <a class="logo-footer" href="#"><img src="assets/images/logo_white.png" alt="logo-footer"></a>
                            <ul class="list-unstyled text-content">
                                <li class="address"><p><span>Адрес</span><br>4710-4890 Breckinridge St,Fayetteville</p></li>
                                <li class="phone"><p><span>Нужна помощь</span><br>7-708-866-3947</p></li>
                                <li><p><span>Отдел продаж</span><br>1-877-345-6789</p></li>
                            </ul>
                            <a class="link-contact" href="index.php?route=information/contact" target="_blank">Контакты</a>
                        </div>
                      </div>
                    </div>
              			<div class="col2 col-md-4 col-sm-6 col-xs-12 col-footer">
              				<div class="footer-title"><h5>Информация</h5></div>
              				<div class="footer-content">
                					<ul class="list-unstyled text-content">
      											  <li><a  routerLink = "/about-us">О нас</a></li>
      					  					  <li><a href="#">Доставка</a></li>
      					  					  <li><a href="#">Оферта</a></li>
      					  					  <li><a href="#">Блог</a></li>
      					  					  <li><a href="#">Обратная связь</a></li>
                  					  <li><a href="#">Возврат товара</a></li>
                  					  <li><a href="#">Карта сайта</a></li>
                					</ul>
                					<ul class="list-unstyled text-content">
                    						<li><a href="#">Производители</a></li>
                    						<li><a href="#">Подарочные сертификаты</a></li>
                    						<li><a href="#">Партнерская программа</a></li>
                    						<li><a href="#">Акции</a></li>
                    						<li><a href="#">Возврат товара</a></li>
                					</ul>
              				</div>
              			</div>
              			<div class="col3 col-md-4 col-sm-6 col-xs-12 col-footer">
              				<div class="footer-title"><h5>Личный Кабинет</h5></div>
              				<div class="footer-content">
                					<ul class="list-unstyled text-content">
                						<li><a href="#">Личный Кабинет</a></li>
                						<li><a href="#">История заказов</a></li>
                						<li><a href="#">Закладки</a></li>
                						<li><a href="#">Рассылка</a></li>
                						<li><a href="#">Производители</a></li>
                						<li><a href="#">Подарочные сертификаты</a></li>
                						<li><a href="#">Партнерская программа</a></li>
                					</ul>
                					<ul class="list-unstyled text-content">
                						<li><a href="#">Акции</a></li>
                						<li><a href="#">Возврат товара</a></li>
                						<li><a href="#">Обратная связь</a></li>
                						<li><a href="#">Возврат товара</a></li>
                						<li><a href="#">Карта сайта</a></li>
                					</ul>
              				</div>
              			</div>
    		      </div>
    		</div>
      </div>
    </div>
    <div class="footer-bottom ">
    		<div class="container">
    			<div class="container-inner">
    				<div class="footer-copyright">
    					<p>Разработка студии <a routerLink = "/">ALIADO</a><br> Aliado © 2019</p>
            </div>
    		  </div>
    		</div>
    </div>
    <div id="back-top" style="display: block;"><i class="ion-ios-arrow-up"></i></div>
</div>
