*{
  font-family: inherit;
  color: #999999;
}

.col2 .footer-content, .col3 .footer-content {
    display: grid;
    grid-template-columns: auto auto;
}

.footer-top{
  background-color: #222222;
  width: 100%;
  padding: 45px 0 15px 0;
}
.footer-title{
  color: #FFFFFF;
}
span{
  color: #FFFFFF;
  font-weight: 500;

}
h5{
  color: #FFFFFF;
}
.footer-top p,li a{
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

li a:hover{
  color: #EA1B25;
  text-decoration: none;
}
.logo-footer {
    display: block;
    margin-bottom: 25px;
    margin-top: 5px;
}
.footer-bottom{
  background-color: #1D1D1D;
  text-align: center;
}
.list-unstyled.text-content li{
    display: block;
    line-height: 24px;
    color: #999;
    padding: 3px 0;
    position: relative;
}
.footer-bottom a{
  color: #EA1B25;
}
.footer-bottom a:hover{
  text-decoration: none;
}
.footer-copyright{
  padding: 5px 0;
  font-size: 13px;
  line-height: 30px;
}
.footer-copyright p{
  background: none;
  text-transform: capitalize;
  font-weight: 400;
  margin: 0;
}
.link-contact {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    padding: 0 23px;
    line-height: 44px;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 33px;
}
.link-contact:hover{
  text-decoration: none;
  color: #EA1B25;
  border-color: #EA1B25;
}
.link-contact {
  text-decoration: none;
}
